@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=SUSE:wght@100..800&display=swap');

body {
    font-family: 'SUSE', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    color: white;
    background: 
        linear-gradient(
                rgba(0, 0, 0, 0.89), 
                rgba(0, 0, 0, 0.89)
                ),
        url('images/gaming-pc-cafe.jpg') no-repeat center center;
    background-size: cover;
    text-align: center;
    text-transform: uppercase;
    height: 100vh;
    display: flex;
}

nav {
    position: absolute;
    top: 71px;
    width: 100vw;
}

nav > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: inline-block;
}

ul {
    padding-left: 0;
}

nav li {
    display: inline-block;
    padding: 0 24px;
    color: #e0e0e0;
}

nav li:hover {
    color: #fafafa;
}

.slash {
    font-size: 1.21rem;
    font-weight: 200;
    position: relative;
    top: 1px;
}

h1 {
    display: inline-block;
    padding-left: 23px;
    padding-right: 16px;
    font-size: 2.25rem;
    font-weight: 700;
    color: #76ff03;
}

/* Hero Section */
header section {
    align-self: center;
    width: 100%;
}

h2 {
    font-size: 3.32rem;
    font-weight: 600;
    margin-bottom: 4px;
}

h2:last-of-type {
    margin-bottom: 32px;
}

h3 {
    display: inline-block;
    font-size: 1.174rem;
}

.bullet {
    margin: 0 11px;
}


.panels {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 340px;
}

.panels div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h5 {
    font-size: 1.9rem;
    font-weight: 500;
}

footer {
    background: #000;
    padding: 34px 0;
    text-align: center;
    color: #fff;
}

footer a {
    color: white;
    font-weight: 600;
    text-decoration: none;
}

/* Mobile Styling */
@media screen and (max-width: 750px) {
    .menu {
        display: none;
    }

    .bullet {
        display: none;
    }

    h2 {
        font-size: 2.7rem;
    }

    h3 {
        margin: 6px 0;
        font-size: 1.19rem;
    }

    h3 span {
        display: none;
    }

    .panels {
        grid-template-columns: 1fr;
        padding: 0 23px;
    }
}